@model freelancerzy.Models.Category

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

<h1 class="text-center" style=" padding:20px">Dodanie kategorii</h1>
<hr />
<div class="container bg-white border border-primary rounded" style="width:20%; padding:30px">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CategoryName" class="control-label"></label>
                <input asp-for="CategoryName" class="form-control" />
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Dodaj kategorię" class="btn btn-primary"/>
            </div>
        </form>
        <div class="text-center">
            <a asp-action="Index" class="align-middle btn btn-outline-primary btn-dark text-light submitButton">Anuluj</a>
        </div>
</div>

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@ViewBag.Message");
    };
    </script>
}

@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
</body>
</html>
