<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - app</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <!--<link rel="stylesheet" type="text/css" href="my_bs.css">-->
    <link rel="stylesheet" href="~/css/my_bs.css">
    <link rel="stylesheet" href="~/css/main.css">
</head>
<body>
    <header>
        <!--<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Freelancerzy</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>-->
        <nav class="navbar navbar-expand-lg bg-dark navbar-light">
            <!-- <a class="navbar-brand text-white" href="#">[v] Freelancerzy</a> -->
            <a asp-area="" asp-controller="Home" asp-action="Index">
                <img class="navbar-brand text-white" src="~/css/logo.png" alt="Freelancerzy" style="width: 80%;">
            </a>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">

                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <button type="button" class="btn btn-primary text-dark ">
                            <a class="nav-link  text-dark  "
                               asp-area="" asp-controller="Home" asp-action="Offert"> <span>Opublikuj Ofertę</span></a>
                        </button>
                    </li>
                    <li class="nav-item ml-4 mr-5">
                        <button type="button" class="btn btn-outline-primary text-white">
                            <a class="nav-link  text-light"
                               asp-area="" asp-controller="Home" asp-action="Search"><span>Szukaj Ofert</span></a>
                        </button>
                    </li>
                    <li class="nav-item ">
                        <button type="button" class="btn bg-transparent text-white">
                            <a class="nav-link  text-light"
                               asp-area="" asp-controller="Home" asp-action="Login"><span>Logowanie</span></a>
                        </button>
                    </li>
                    <!--dodać linije jak w mockupie-->
                    <li class="nav-item">
                        <button type="button" class="btn bg-transparent text-white">
                            <a class="nav-link  text-primary"
                               asp-area="" asp-controller="Home" asp-action="Register"><span>Rejestracja</span></a>
                        </button>
                    </li>
                </ul>
            </div>
        </nav>
    </header>


    @RenderBody()

    <!--<div class="container">

        <main role="main" class="pb-3">
        </main>
    </div>-->

    <footer class="footr">
        <div class="container-fluid mt-5">
            <div class="row bg-dark text-light pt-5">
                <div class="col-sm-2 "
                     style="margin-left: 10%;">
                    <h4> Freelancerzy</h4>
                    <ul class="list-unstyled">
                        <li>O nas</li>
                        <li>Kontakt</li>
                        <li>Licencje</li>
                        <li>Plany Płatnicze</li>

                    </ul>
                </div>

                <div class="col-sm-2 ">
                    <h4>Informacje </h4>
                    <ul class="list-unstyled">
                        <li>Pomoc</li>
                        <li>Płatność i wysyłka</li>
                        <li>Regulamin</li>
                        <li>FAQ</li>
                        <li>
                            <a class="text-light" asp-area="" asp-controller="Home" asp-action="Privacy">
                                Polityka prywatności
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h4>Kategorie </h4>
                    <ul class="list-unstyled pt-2">
                        <li>Programista</li>
                        <li>Projektant Wnętrz</li>
                        <li>Architekt</li>
                        <li>Grafik</li>
                        <li>Montarzysta</li>
                        <li>Reszta</li>
                    </ul>
                </div>
                <!--kreska wielkropka-->
                <div class="col-sm-4">
                    <h4>Znajdź nas na </h4>

                    <div class="row ">
                        <div class="col-sm-4">
                            <div><img src="~/css/in.png" alt="1" style="width: 25%; margin: 20px 2px 0px 2px;"></div>
                            <div><img src="~/css/wu.png" alt="2" style="width: 25%; margin: 20px 2px 0px 2px;"></div>

                        </div>
                        <div class="col-sm-4">
                            <div> <img src="~/css/insta.png" alt="3" style="width: 25%; margin: 20px 2px 0px 2px;"></div>
                            <div> <img src="~/css/yt.png" alt="4" style="width: 25%; margin: 20px 2px 0px 2px;"></div>
                        </div>
                        <div class="col-sm-4">
                            <div>  <img src="~/css/fb.png" alt="5" style="width: 25%; margin: 20px 2px 0px 2px;"></div>
                            <div>  <img src="~/css/t.png" alt="6" style="width: 25%; margin: 20px 2px 0px 2px;"></div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        </footer>
        <!--<div class="container">
            &copy; 2020 - Freelancerzy - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>-->
   



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>



    @RenderSection("Scripts", required: false)
</body>
</html>
