<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - app</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!--<link rel="stylesheet" type="text/css" href="my_bs.css">-->
    <link rel="stylesheet" href="~/css/my_bs.css">
    <link rel="stylesheet" href="~/css/main.css">
</head>

<body class="bg-light">

    <nav class="navbar navbar-dark bg-dark static-top bg-jumpers navbar-expand-lg">
        <div class="container-fluid ">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="mr-auto">
                <img class="navbar-brand text-white" src="~/css/logo.png" alt="Freelancerzy" style="width: 80%;">
            </a>

            <div class="align-baseline " id="navbarNav">

                <ul class="navbar-nav list-group-horizontal ">
                    <li class="nav-item active">
                        <button type="button" class="btn btn-primary text-dark mt-1">
                            <a class="nav-link  text-dark  " asp-area="" asp-controller="Offers" asp-action="NewOffer">
                                <span>Opublikuj Ofertę</span>
                            </a>
                        </button>
                    </li>
                    <li class="nav-item ml-4 mr-4">
                        <button type="button" class="btn btn-outline-primary text-white mt-1">
                            <a class="nav-link  text-light" asp-area="" asp-controller="Offers"
                               asp-action="Search"><span>Szukaj Ofert</span></a>
                        </button>
                    </li>

                    @if (Context.User.Identity.IsAuthenticated == true)
                    {
                        @if (Context.User.IsInRole("administrator"))
                        {
                            <li class="nav-item nav-item dropdown mr-3 pt-2">
                                <a class="nav-link dropdown-toggle text-light mt-1" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span>Panel administracyjny</span>
                                </a>
                                <div id="text" class="dropdown-menu bg-dark text-light" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item nav-link" asp-area="" asp-controller="Category" asp-action="Index">Lista kategorii</a>
                                    <a class="dropdown-item nav-link" asp-area="" asp-controller="Category" asp-action="Create">Dodaj kategorię</a>
                                    <a class="dropdown-item nav-link" asp-area="" asp-controller="User" asp-action="List">Lista użytkowników</a>
                                </div>
                            </li>

                        }

                        <li class="nav-item nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Zalogowany
                                <br /><span>@Context.User.Claims.FirstOrDefault(c => c.Type == "nameandsurname")?.Value</span>
                            </a>
                        <div id="text" class="dropdown-menu bg-dark text-light" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item nav-link" asp-area="" asp-controller="User" asp-action="Details">Szczegóły konta</a>
                                <a class="dropdown-item nav-link" asp-area="" asp-controller="User" asp-action="Edit">Edytuj dane</a>
                                <a class="dropdown-item nav-link" asp-area="" asp-controller="Offers" asp-action="MyOffers">Moje oferty</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item nav-link" asp-area="" asp-controller="User" asp-action="Logout">Wyloguj się</a>
                            </div>
                        </li>
                        
                    }
                    else
                    {
                        <li class="nav-item ">
                            <button type="button" class="btn bg-transparent text-white">
                                <a class="nav-link  text-light" asp-area="" asp-controller="User"
                                   asp-action="Login"><span>Logowanie</span></a>
                            </button>
                        </li>
                        <!--dodać linije jak w mockupie-->
                        <li class="nav-item">
                            <button type="button" class="btn bg-transparent text-white">
                                <a class="nav-link  text-primary" asp-area="" asp-controller="User"
                                   asp-action="Register"><span>Rejestracja</span></a>
                            </button>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>


    <div class="fluid " style="margin-bottom: 50em;">
        @RenderBody()
    </div>

    <footer class="footer bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 h-200 mt-5 text-center text-lg-left text-light">
                    <h4> Freelancerzy</h4>
                    <ul class="list-unstyled">
                        <li>O nas</li>
                        <li>Kontakt</li>
                        <li>Licencje</li>
                        <li>Plany Płatnicze</li>
                        <li> </li>
                    </ul>
                </div>
                <div class="col-lg-3 h-200 mt-5 text-center text-lg-left  text-light">
                    <h4>Informacje </h4>
                    <ul class="list-unstyled">
                        <li>Pomoc</li>
                        <li>Płatność i wysyłka</li>
                        <li>Regulamin</li>
                        <li>FAQ</li>
                        <li>
                            <a class="text-light" asp-area="" asp-controller="Home" asp-action="Privacy">
                                Polityka prywatności
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 h-200 mt-5 text-center text-lg-left  text-light">
                    <h4>Kategorie </h4>
                    <ul class="list-unstyled pt-2">
                        <li>Programista</li>
                        <li>Projektant Wnętrz</li>
                        <li>Architekt</li>
                        <li>Grafik</li>
                        <li>Montarzysta</li>
                        <li>Reszta</li>
                    </ul>
                </div>
                <div class="col-lg-3 h-200 mt-5 text-center text-lg-left  text-light">
                    <h4>Znajdź nas na </h4>

                    <div class="row ">
                        <div class="col-sm-4">
                            <div>
                                <img src="~/css/in.png" alt="1" class="img-thumbnail img-fluid" type="png"
                                     style="background: transparent; border-width: 0;">
                            </div>
                            <div>
                                <img src="~/css/wu.png" alt="2" class="img-thumbnail img-fluid" type="png"
                                     style="background: transparent; border-width: 0;">
                            </div>

                        </div>
                        <div class="col-sm-4">
                            <div>
                                <img src="~/css/insta.png" alt="3" class="img-thumbnail img-fluid" type="png"
                                     style="background: transparent; border-width: 0;">
                            </div>
                            <div>
                                <img src="~/css/yt.png" alt="4" class="img-thumbnail img-fluid" type="png"
                                     style="background: transparent; border-width: 0;">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div>
                                <img src="~/css/fb.png" alt="5" class="img-thumbnail img-fluid" type="png"
                                     style="background: transparent; border-width: 0;">
                            </div>
                            <div>
                                <img src="~/css/t.png" alt="6" class="img-thumbnail img-fluid" type="png"
                                     style="background: transparent; border-width: 0;">
                            </div>
                        </div>
                    </div>


                </div>


            </div>

            <p class="text-muted small mb-4 mb-lg-0">&copy;2020 - Freelancerzy. Wszystkie prawa zastrzerzone.</p>
        </div>
    </footer>
    <!--
    <footer class="footer bg-dark">
          <div class="container-fluid mt-5">
              <div class="row bg-dark text-light pt-5">
                <div class="col-sm-2 "
                style="margin-left: 10%;"><h4> Freelancerzy</h4>
                <ul class="list-unstyled pt-2">
                 <li class="pb-2">O nas</li>
                 <li class="pb-2">Kontakt</li>
                 <li class="pb-2">Licencje</li>
                 <li class="pb-2">Plany Płatnicze</li>

                </ul>
              </div>

                <div class="col-sm-2"><h4>Informacje </h4>
                  <ul class="list-unstyled pt-2">
                    <li class="pb-2">Pomoc</li>
                    <li class="pb-2">Płatność i wysyłka</li>
                    <li class="pb-2">Regulamin</li>
                    <li class="pb-2">FAQ</li>
                    <li class="pb-2">Polityka prywatności</li>
                  </ul>
              </div>
                <div class="col-sm-2"><h4>Kategorie </h4>
                  <ul class="list-unstyled pt-2">
                    <li class="pb-2">Programista</li>
                    <li class="pb-2">Projektant Wnętrz</li>
                    <li class="pb-2">Architekt</li>
                    <li class="pb-2">Grafik</li>
                    <li class="pb-2">Montarzysta</li>
                    <li class="pb-2">Reszta</li>
                  </ul>
                </div>
                <div class="col-sm-4"><h4>Znajdź nas na </h4>

                  <div class="row ">
                    <div class="col-sm-4">
                      <a href="#"><img src="in.png" alt="1"class="icon"></a>
                      <a href="#"><img src="wu.png" alt="2"class="icon"></a>

                    </div>
                    <div class="col-sm-4">
                      <div> <img src="insta.png" alt="3" class="icon"></div>
                      <div> <img src="yt.png" alt="4" class="icon"></div>
                    </div>
                    <div class="col-sm-4">
                      <div>  <img src="fb.png" alt="5" class="icon"></div>
                      <div>  <img src="t.png" alt="6" class="icon"></div>
                    </div>
                  </div>


                </div>
              </div>
            </div>
          </footer>-->






    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>



    @RenderSection("Scripts", required: false)
</body>

</html>
<style>
    div#text > a:hover {
        color: #383a40 !important;
    }
</style>