@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    



    <div class="frontImage parallax ">

            <div class="vertical-center">

                <h1 class=" text-light">
                    Zatrudniaj najlepszych pracowników, </br>
                    nie wychodzac z domu!
                </h1>

                <button type="button"
                        style="margin-left: 10%;"
                        class="btn btn-outline-primary text-white btn-sm">
                    <a class="nav-link  text-light" asp-area="" asp-controller="Offers" asp-action="Search"><span>Zatrudnij</span></a>
                </button>
                </button>

                <button type="button"
                        style="margin-left: 1%;"
                        class="btn btn-outline-primary text-white btn-sm">
                    <a class="nav-link  text-light" asp-area="" asp-controller="Offers" asp-action="NewOffer"><span>Zarabiaj online</span></a>
                </button>
                </button>

            </div>


        </div>
<div class="container-fluid"
             style="margin-top: 6%;margin-bottom: 6%;">

            <h2 class="row justify-content-center m-5">Pytania i odpowiedzi</h2>
            <div class="row justify-content-center mt-4">
                <div class="col-sm-2 about-title"><h4>Co to za strona?</h4>Jesteśmy pośrednikami w poszukiwaniu pracy </br> Dzięki nam zatrudnisz siebie albo innych</p></div>
                <div class="col-sm-2 about-title"><h4>Czy zakładanie konta jest konieczne?</h4>Tak</br> owszem</p></div>
                <div class="col-sm-2 about-title"><h4>Czy moge odzyskać utracone hasło?</h4>Tak, w razie problemów </br> skontaktuj się z administacją</p></div>
            </div>
            <div class="row justify-content-center mt-4 mb-4">
                <div class="col-sm-2 about-title"><h4>Jak założyć konto?</h4>Aby założyć konto należy </br> wejść w zakładkę Rejestracja</p></div>
                <div class="col-sm-2 about-title"><h4>Jak się zalogować?</h4>Aby się zalogować należy</br> wejść w zakładkę Login</p></div>
                <div class="col-sm-2 about-title"><h4>Jak wyszukać ofery pracy?</h4>W celu wybrania ofery pracy</br>wjedź w zakładkę Szukaj ofert</p></div>
            </div>
            <div class="row justify-content-center mt-4 mb-4">
                <div class="col-sm-2 about-title"><h4>Dlaczego warto się zarejestrować?</h4>Rejestracja jest niezbędna do korzystania ze wszystkich zasobów </br>strony freelancerzy</p></div>
                <div class="col-sm-2 about-title"><h4>Jak zmienić moje dane?</h4>W celu zmiany danych po zalogowaniu</br>wyszukaj nad nazwą swojego konta opcji edytuj dane</p></div>
                <div class="col-sm-2 about-title"><h4>Jak mogę reagować na hejt?</h4>Portal Freelancerzy czuwa nad wszystkimi zgłoszeniami</br> wystarczy przy ofercie zgłosić dane konto</p></div>
            </div>
        </div>

@* <div class="row justify-content-center mt-4 mb-4"> 

            <form>
                <h2 class="m-5">Potrzebujesz więcej pomocy?</h2>

                <div class="form-horizontal ">
                    <div class="form-group ">
                        <label for="inputAddress justify-content-center"><span>Email</span></label>
                        <input type="text" class="form-control" id="inputAddress" placeholder="Twój adres email">
                    </div>
                    <div class="form-group ">
                        <label for="inputAddress"><span>Treść wiadomości</span></label>
                        <input type="text" class="form-control" id="inputAddress" placeholder="Tekst...">
                    </div>
                    <button type="submit" class="btn btn-dark "><span>Wyślij</span></button>
                </div>
            </form>
        </div>*@
  





    
</div>
