
@{
    ViewData["Title"] = "Offert";
}

    <section class="front">
        <div id="header">
            <h1>Dodaj Ofertę</h1>
            <br />
        </div>
    </section>

    <style>
        #header {
            text-align: center;
            padding: 20px;
        }
    </style>