
@{
    ViewData["Title"] = "Offert";
}

    <section class="front">
        <div class="text-center">
            <h1 style="padding:20px">Dodaj Ofertę</h1>
            <br />
        </div>
        <div id="x">
            <div id="content">
                <br />
                <h3>Kategoria</h3>
                <select style="padding:3px; width:50%">
                    <option>Programista</option>
                    <option>Projektant Wnętrz</option>
                    <option>Architekt</option>
                    <option>Grafik</option>
                    <option>Montarzysta</option>
                    <option>Reszta</option>
                </select>
                <br />
                <br />
                <h3>Tytuł</h3>
                <input type="text" name="phrase" style="padding:3px; width:100%" placeholder="Wpisz frazę">
                <br />
                <br />
                <textarea type="text" rows="12" style="padding:3px; width:100%" placeholder="Opis"></textarea>
                <br />
                <br />
                <div class="text-center">
                    <button type="button" style="padding:15px 50px;" class="btn btn-outline-primary btn-dark text-light"><span style="font-size:large">Dodaj</span></button>
                </div>
            </div>
        </div>
    
    </section>

    <style>
        #x {
            width: 80%;
            min-height: 700px;
            float: left;
            padding: 20px;
            background-color: lightgray;
            margin-right: 10%;
            margin-left: 10%;
            margin-bottom: 516px;
        }
        #content {
            margin-right: 5%;
            margin-left: 5%;
        }
     
    </style>