@model freelancerzy.Models.Message

@{
    ViewData["Title"] = "Nowa wiadomość do " + Model.UserTo.EmailAddress;
}

<h3 class="text-center" style=" padding:20px">Nowa wiadomość do @Model.UserTo.EmailAddress</h3>

 


<hr />
<div class="text-center bg-white rounded bg-white border border-dark" style="width:70%;  margin: 0 auto; border-width:4px;">

<div class="row" style="display: block;">
    <div style="maring: 0 auto;">
        <form asp-action="Message" style="display: inline-block; width: 90%; rounded bg-white border border-5 border-dark">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group ">
                <br>
                <label asp-for="Content" class="control-label h4"></label>
                <textarea asp-for="Content" class="form-control" ></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            @Html.HiddenFor(model => model.UserToId)
            <div class="form-group">
          <a asp-action="Index" asp-controller="Home" class="btn text-dark">Wróć</a>

<input type="submit" value="Wyślij" class="btn btn-dark"/>
</div>
        </form>
    </div>
</div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}