@model freelancerzy.Models.Messagereport

<div class="container">
    <div class="d-flex justify-content-center align-items-center flex-column">
        <div class="row pt-4"><h2>Czy na pewno chcesz zgłosić tę wiadomość?</h2></div>
        <div class="row">
            <p>@Model.Message.Content</p>
        </div>
        
                <b>Wiadomość od:</b> @Html.DisplayFor(model => model.Message.UserFrom.EmailAddress)
       
       
            
            <form method="post">
                <div class="row">
                    <div class="form-group">
                        <label asp-for="Reason"></label>
                        <select class="form-control" asp-for="ReasonId" asp-items="ViewBag.ReasonId">
                        </select>
                    </div>
                </div>
               <input type="hidden" asp-for="MessageId" />
                    
                        <button type="submit" class="btn btn-primary">Zgłoś</button>
                    
                
            </form>
        
    </div>
</div>
