<td style="padding:18px 30px 18px 30px; line-height:40px; text-align:inherit;" height="100%" valign="top">
    <div>
        <div style="font-family: inherit; text-align: center; margin:50px;">
            <span style="color: #383a40;font-size: 40px;font-family:inherit;">
                Twoje hasło zostało zresetowane, sprawdz pocztę aby się zalogować.
                <div style="padding: 40px; margin: 30px;"><img src="~/css/email.png" width="200" height="200"></div>
                <button type="button" class="btn btn-outline-primary font-weight-bold bg-dark">
                    <a asp-controller="Home" asp-action="Index" class="nav-link  text-light "><h4>Wróć na stronę główną</h4></a>
                </button>
            </span>
        </div><div></div>
    </div>
</td>
