@model IEnumerable<freelancerzy.Models.PageUser>

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
    <style>
        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }
    </style>
</head>

<body>
    <h1 class="text-center" style="padding:20px">Lista użytkowników</h1>
    <hr />

    <div class="container bg-white border border-primary rounded mt-3 pt-2 px-5">
        <div id="filtr" style="text-align: center;">
            <input id="userId" class="form-control-lg" type="number" min=1 style="padding:3px; width:20%" maxlength="6"
                placeholder="Id użytkownika">
            <select asp-items="ViewBag.TypeId" id="typeId" style="padding:4px; margin:2px; width:20%">
                <option value="0" >Wszyscy</option>
            </select>
            <input id="userEmail" class="form-control-lg" type="text" style="padding:3px; width:30%"
                placeholder="Email użytkownika">
            <button id="searchBtn" type="button" style="padding:7px 30px; margin:0px 0px 10px 10px"
                class="btn btn-outline-primary btn-dark">Szukaj</button>
        </div>
        
        <div id="loader">
        </div>
        <div id="userList">
        </div>
    </div>

@section Scripts
{
    <script>
        $(function() {
            var pageId = 1;

            var loadTable = function (pageId) {
                $('#userList').empty();
                $('#loader').addClass("loader");

                var userId = $('#userId').val();
                var userEmail = $('#userEmail').val();
                var typeId = $('#typeId').val()
                $('#userList').load('/User/PartialList?pageNumber=' + pageId + '&email=' + userEmail + '&id=' + userId + '&type=' + typeId,
                     function () {
                    $('#loader').removeClass("loader");
                   
                });
            }

            loadTable(pageId);

            $(document).on('click', '#searchBtn', function () { loadTable(pageId) });

            $(document).on('click', '#next', null, function () { loadTable(++pageId); });

            $(document).on('click', '#prev', null, function () { loadTable(--pageId); });
        });
    </script>
}
</body>

</html>
