@{
    ViewData["Title"] = "Reset hasła";
}


<form method="post" asp-route-returnurl="@ViewData["ReturnUrl"]" asp-controller="User" asp-action="PasswordReset"
      style="height: 64em; width: 58em; margin:auto; margin-top: 8em; ">
    <div class="container bg-white border border-primary rounded">
        <h3 class="display-3 text-center mt-5 mb-5">Nie pamiętasz hasła?</h3>
        <a style="font-size: larger; font-weight: 500" class="m-5">Podaj email na którym jest zarejestrowane konto abyśmy mogli wysłać Ci twoje nowe hasło.</a>
        <br /><br />
        <input type="email" placeholder="Adres email" name="email" required class="form-control border border-primary" style="width:80%; margin-left:10%" />
        <span id="emailvalidate" style="font-size: 97%; font-weight: 600; font-kerning: auto; padding-left: 51px; color: #dc3545; margin-left:5%;">@ViewData["ErrorEmail"]</span>
        <br /><br />
        <button type="submit" class="btn btn-primary btn-block" onclick="myFunction()" style="width:30%; margin-left:35%">Zatwierdź</button>
        <br /><br />
    </div>
</form>

<script>
    function myFunction() {
        alert("Mail został wysłany");
    }
</script>

