@model freelancerzy.Models.PageUser

@{
    ViewData["Title"] = "Odzyskaj hasło";
}


<form method="post" asp-controller="User"
      style="height: 64em; width: 56em; margin:auto; margin-top: 8em; ">
    <div class="container bg-white border border-primary rounded">
        <h3 class="display-3 text-center mt-5 mb-5">Nie pamiętasz hasła?</h3>
        <a style="font-size: larger; font-weight: 500" class="m-5 mb-5">Podaj email na który jest zarejestrowane konto abyśmy mogli wysłać Ci twoje hasło.</a>
        <br /><br />
        <input id="input" style="width:70%; margin-left:15%" class="form-control border border-primary" />
        <br /><br />
        <button type="submit" class="btn btn-primary btn-block" style="width:30%; margin-left:35%">Zatwierdź</button> </br> </br>
    </div>
</form>
