@{
    ViewData["Title"] = "Register";
}

<form method="post" asp-controller="User" asp-action="Login">
    <div class="container">
        <h1 style="margin: 10px;">Zarejestruj się!</h1>

        <input type="text" placeholder="Nazwa użytkownika" name="name" required> </br> </br>

        <input type="email" placeholder="Adres email" name="email" required> </br> </br>

        <div class="input-group align-items-center">
            <input id="txtPassword" type="password" placeholder="Hasło" name="password" required>
            <div class="input-group-append align-items-center">
                <button id="show_password" class="fa fa-eye-slash btn btn-primary btn-sm align-items-center" type="button">
                </button>
            </div>
        </div>
        </br>
        <button type="submit">Zatwierdź</button> </br> </br>

        <label>Cieszymy się, że dołączasz do naszej społeczności!</label>

    </div>
</form>

@section Scripts{
<script type="text/javascript">
    $(document).ready(function () {
        $('#show_password').hover(function show() {
            $('#txtPassword').attr('type', 'text');
            $('.icon').removeClass('fa fa-eye-slash').addClass('fa fa-eye');
        },
            function () {
                $('#txtPassword').attr('type', 'password');
                $('.icon').removeClass('fa fa-eye').addClass('fa fa-eye-slash');
            });
    });  
</script>
}