@{
    ViewData["Title"] = "Register";
}

<div class="container">
    <h1> Zarejestruj się! </h1>

    <input type="text" placeholder="Nazwa użytkownika" name="name" required> </br> </br>
    
    <input type="email" placeholder="Adres email" name="email" required> </br> </br>


    <input type="password" placeholder="Hasło" name="password" required> <input type="checkbox" onclick="myFunction()">Pokaż hasło</br> </br>

    <button type="submit">Zatwierdź</button> </br> </br>

    <label >Cieszymy się, że dołączasz do naszej społeczności!</label>
</div>