@{
    ViewData["Title"] = "Rejestracja";
}
<style>
    .input {
        float: left;
        width: 300px;
        margin: 10px;
        padding: 10px;
        
    }
    .space {
        float: left;
        width: 100px;
        margin: 10px;
        padding: 10px;
    }
</style>

<form method="post" asp-controller="User" asp-action="Register" style="height: 60em; width: 40em; margin:auto; margin-top: 8em; ">
    <div class="container bg-white border border-primary rounded">
        <div class="container " style="width:80%;
                                        height:50%;
                                        ">
         <h1 class="display-3 text-center mt-5 mb-5">Zarejestruj się!</h1>

<span >
        <div>
            <input class="form-control border border-primary" type="text" placeholder="Imię" name="name" required> </br> </br>

            <input class="form-control border border-primary" type="text" placeholder="Nazwisko" name="surname" required> </br> </br>

            <input class="form-control border border-primary" type="tel" placeholder="Numer telefonu" name="phoneNumber"> </br> </br>
        </div>
</span>

        

        <div class="space">
        </div>

        <div >
            <input class="form-control border border-primary" type="email" placeholder="Adres email" name="email"> </br> </br>

            <div class="input-group align-items-center">
                <input class="form-control border border-primary" id="txtPassword" type="password" placeholder="Hasło" name="password" required>
                <div class="input-group-append align-items-center">
                    <button id="show_password" class="fa fa-eye-slash btn btn-primary btn-sm align-items-center" type="button" style="float:left">
                    </button>
                </div>
            </div>
            </br>
            <div class="input-group align-items-center">
                <input class="form-control border border-primary" id="txtPassword2" type="password" placeholder="Powrórz Hasło" name="passwordConfirmed" required>
                <div class="input-group-append align-items-center">
                    <button id="show_password2" class="fa fa-eye-slash btn btn-primary btn-sm align-items-center" type="button" style="float:left">
                    </button>
                </div>
            </div>
        </div>

        <div style="clear:both"></div>
        <label class="text-danger">@ViewData["Error"]</label></br>
        <button class="btn btn-primary btn-block" type="submit">Zatwierdź</button> </br> </br>
        <label class="nav-link text-dark font-weight-normal">Cieszymy się, że dołączasz do naszej społeczności!</label>
        </div>
    </div>
</form>

@section Scripts{
<script type="text/javascript">
    $(document).ready(function () {
        $('#show_password, #show_password2').hover(function show() {
            $('#txtPassword, #txtPassword2').attr('type', 'text');
            $('.icon').removeClass('fa fa-eye-slash').addClass('fa fa-eye');
        },
            function () {
                $('#txtPassword, #txtPassword2').attr('type', 'password');
                $('.icon').removeClass('fa fa-eye').addClass('fa fa-eye-slash');
            });
    });  
</script>
}